:root {
	--primary: #fff;
}

.btn {
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	padding: 8px 20px;
}

.btn--primary {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	color: #242424;
}

.btn--outline {
	background-color: transparent;
	border: 1px solid var(--primary);
	color: #fff;
	padding: 8px 20px;
	transition: all 0.3s ease-out;
}

.btn--medium {
	font-size: 20px;
	padding: 8px 20px;
}

.btn--large {
	font-size: px;
	padding: 12px 20px;
}

.btn--medium:hover,
.btn--large:hover {
    background-color: #fff;
    color: #242424;
	transition: all 0.3s ease-out;
}
